<h2>All Courses</h2>
<table>
	<tr>
		<th>Course</th>
		<th>Address</th>
		<th>Public/Private</th>
		<th>Number of Holes</th>
		<th>Course Handicap</th>
		<th>Description</th>
	</tr>
	<% @courses.each do |data| %>
	<tr>
		<td><%= data.coursename %></td>
		<td><%= data.address %></td>
		<% if data.public_course = true %>
			<td>Yes</td>
			<% else %>
			<td>No</td>
		<% end %>
		<td><%= data.numberOfholes %></td>
		<td><%= data.coursehandicap %></td>
		<td><%= data.description %></td>

	</tr>
	<% end %>



</table>